body{
    padding: 0px;
    margin: 0px;    
}
.main{
    height: 70px;
    background-color: #fff #fff white hs 1(0,0%,100%) rgb(255, 255, 255);
}
.sub-main{
    display: flex;
    gap: 15px;
}
.image{
    margin-top: 10px;
    margin-left: 40px;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: -55px; 
    margin-left: 2px;    
}
.btn1{
    height: 40px;
    width: 380px;
    border-radius: 20px; 
    text-align: end; 
    border: 1px solid gray;
}
.search{
    left: 45%;
    position: absolute;
    top: 10px;
}
.btns{
    display: flex;
    gap: 30px;
    margin-left: 1100px;
    height: 30px;
    margin-top: -52px;
    align-items: center;
}
.upload{
    background-color: rgb(245, 23, 23);
    color: #fff;
    text-align: center;
    border: none;
    width: 100px;
    font-weight: 600;
    font-size: large;
}
.load{
    background-color: #fff;
    border: 2px solid whitesmoke;
    font-weight: 700;
}

.bugger  div {
    height: 5px;
    width: 5px;
    margin-top: 1px;
    border-radius: 50%;
    background: black;
}
.p{
    display: none;
   
   
}
.dark{
    margin-left: -15px;
  
}

/* .dark{
    margin-left: -32px;
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    gap: 55px;
} */
/* .mode{
    margin-top: -29px;
} */
/* .p:hover{
    background-color: beige;
    color: aqua;
} */
.active{
    display: block;
    position: fixed;
    background-color: whitesmoke;
    height: 200px;
    width:240px;
    color: black;
    right: 0;
    padding-left: 30px;
    font-size: larger;
}
.text{
    display: none;
}
.hide{
    display: block;
    color: black;
}
.container{
    /* border: 1px solid black; */
    height: 79vh;
    width: 38vw;
    margin-left: 400px;
    margin-top: 30px;
    border-radius: 5px;
    background-color: rgb(248, 248, 255);
}
.X {
    width: 30px;
    font-size: larger;
    font-family: sans-serif;
    margin-left: 470px;
    margin-top: 17px;
    border-radius: 17px;
    text-align: center;
    background-color: #fff;
}
h1{
    margin-left: 120px;
    font-family: sans-serif;
    margin-top: 40px;
}
h2{
    margin-top: -25px;
    margin-left: 60px;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    margin-top: -25px;
    margin-left: 50px;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    margin-top: -25px;
    margin-left: 65px;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5{
    margin-top: -25px;
    margin-left: 65px;
    font-size: 19px;
    font-weight: 100;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h6{
    margin-top: -25px;
    margin-left: 65px;
    text-align: center;
    font-size: 19px;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.QRCode{
    border: 1px solid black;
    height: 33px;
    width: 385px;
    margin-left: 70px;
}
.QRCode i{
    font-size: 25px;
    padding-left: 5px;
    padding-top: 5px;
}
span{
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
}
.terms{
    margin-left: 94px;
}
.acc{
    margin-left: 110px;
    font-size: 15px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign{
    color: red;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 275px;
    margin-top: -19px;
    font-weight: 500;
}
.pp{
    color: black;
    font-weight: 800;
    margin-left: 6px;
}
.pps{
    color: black;
    font-weight: 800;
    margin-left: 6px;
}
.side{
    position: fixed;
    /* top: 0; */
}
.side img{
    margin-top: 30px;
    margin-left: 70px;
}
/* .bar{
   margin-left: 1000px;
   margin-top: -30px;
} */
.para{
    margin-left: 50px;
    font-size: larger;
}
.lg{
    height: 50px;
    width: 200px;
    text-align: center;
    border: 1px solid crimson;
    color: crimson;
    margin-left: 50px;
}
.create{
    height: 50px;
    width: 200px;
    text-align: center;
    margin-left: 50px;
    color: black;
    background-color: palevioletred;
    border: none;
}
/* .vid1{
    margin-left: 40%;
    margin-top: -900px;
    height: 100px;
    width: 500px;
} */
.vid{
    height: 300px;
    width: 50px;
}
.shatu{
    margin-left: 40%;
    margin-top: -500px;
}
.pics{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.nam{
    margin-left: -650px ;
    margin-top: -47px;
}
.fol{
    
    color: crimson;
    text-align: center;
    height: 40px;
    border: 1px solid crimson;
    width: 90px;
    border: none;
    margin-left: 400px;
    margin-top: -25%;
   border: 1px solid crimson;
   background-color: white;

}
.allcon{
    display: flex;
}

.video{
    /* border: 1px solid blue; */
    width: 800px;
    /* height: 100vh; */
    margin-left: 350px;

}
.gm{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.aut{
    display: flex;
}
.fee{
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 7px;
}
.hah{
    margin-left: 10px ;
}
.reply{
    display: flex;
    /* margin-top: 100px; */
}
.mid{
    margin-left: 60px;
    margin-top: -14px;
}
.flo{
    position: absolute;
height: 40px;    
width: 100px;
background-color: #fff;
border: 1.5px solid #fe2c55;
color: #fe2c55;
font-size: 15px;
border-radius: 3px;
margin-left: 600px;
margin-top: -50px;
}
.videos{
    width: 360px;
    height: 650px;
    border-radius: 10px;
    margin-left: 60px;
}
.ic{
    margin-left: 30px;
    /* font-size: 20px; */
    margin-top: 20px;
    background-color:#f1f1f2 ;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.icons{
    margin-left: 8px; 
   font-size: 23px;
    margin-top: 10px; 

   
}
.icc{
    margin-left: 30px;
     font-size: 20px; 
     margin-top: 40px; 
    background-color:#f1f1f2 ;
    width: 35px;
    height: 35px;
    border-radius: 50%; 
}

.iccon{
    margin-top: 270px;
}
.peps{
    margin-left: 30px;
}




/* body{
    border: 0;
    background-color: black;
}
*/
.cappings{
    display: none;

}
.capping{
    display: flex;
    background-color: black;
    /* display: none; */
}
.cap{
    width: 65%;
    height: 100vh;
    background-color: #050301;
}
.capp{
    width: 35%;
    height: 100vh;
    background-color:white;
}
.video{
    width: 600px;
    height: 100vh;
    /* opacity: 0.5; */
    margin-left: 300px; 
}
.related{
    display: flex;
}
.inpt{
    color: #000;
    font-size: 15px;
    border-radius: 50px;
    border: 1px solid white;
    position:absolute;
    z-index:1;
    background-color: transparent;
    margin-top: 30px;
    width: 500px;
    height:50px;
    right: 230px;
    /* margin-right: 500px; */

}
.glass{
    position:absolute;
    z-index:1;
    color: white;
    top: 50px;
    right: 100px;
    background-color: blue;
}
.if{
    /* margin-bottom: 100px; */
    margin-top: -24px;
    position:relative;
    z-index:0;
    object-fit: cover;

}
.name{
    margin-top: 20px;
    width: 550px;
    height: 150px;
    background-color: #f1f1f2 ;
    border-radius: 10px;
    margin-left: 15px;
}
.pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
}
.names{
    display: flex;
}
.rof{
    margin-left: 10px;
}
.bot{
    margin-left: 230px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #fe2c55;
    border: none;
    font-size: 15px;
}
.pe{
    margin-left: 90px;
    margin-top: -20px;
}
.pes{
    margin-left: 10px;
}
.icons{
     margin-left: 8px; 
    font-size: 20px;
     margin-top: 10px; 

    
}
.icon{
    display: flex; 

   
}
.ic{
    margin-left: 30px;
    /* font-size: 20px; */
    margin-top: 20px;
    background-color:#f1f1f2 ;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.pep{
    margin-top: 30px;
    font-size: 15px;
    margin-left: 7px;
}
.tele{
    /* background-color: #fe2c55; */
    font-size: 25px;
}
.icon2{
    margin-top: 20px;
    margin-left: 120px;
}
.comment{
    display: flex;
    margin-left: 80px;
    
}
.cre{
    margin-left: 100px;
}

.hrr{
    margin-top: -15px;
}
.pics{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px; 
}
.db{
display: flex;
}
.dg{
    display: flex;
}
.dc{
   
 display: flex;
 margin-left:80px ;
 margin-top: -20px;

}
.manny{
    margin-top: 30px;
    margin-left: 10px;
}
.mann{
    margin-left: 80px;
    margin-top: -20px;
}
.bab{
    margin-left: 20px;
    margin-top: -20px;
}
.paddy{
    margin-left: 60px;
}
.logg{
    width: 500px;
    height: 50px;
    margin-left: 20px;
    border: none;
    color: #fe2c55;
    font-size: 20px;

}
.circle{
    /* background-color: aliceblue; */
    color: #f1f1f2;
    width: 20px;
    height: 20px;
    font-size: 40px;
    /* margin-top: 60px; */
    margin-left: 50px;
}